.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/examples/data_seq.csv
inst/examples/data_sim.csv
inst/examples/test_mbbe.r
inst/mbbe_logo.vectr
bsSamp7.lst
MBBEArgs.json
MBBEArgs_mega.json
trash.tmp
MBBEArgs_sh.json
/doc/
/Meta/
^\.github$

